.header{
    height: 95vh;
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
    position: relative;

    .logo-box{
        position: absolute;
        top: 35px;
        left: 40px; 
        .logo{
            height: 30px;
        }
    }

   
}
